
<footer class="jumbotron text-center" id="footer">
		<h3>Contact Us</h3>
		<p>K & D Auto Wholesale</p>
		<p>3023 Hwy 31 South, Decatur, Al 35603</p>
		<hr>
		<a href="https://www.facebook.com/pg/kanddautowholesale/posts/?ref=page_internal"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>

</footer>
<script src="http://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="interaction.js">
</body> 
</html>