<% include partials/header %>
	
<div class="container">
	<form action="/login" method="POST" class="ui form">


		<div class="field">
		    <label>Full Name</label>
		    <input type="text" name="username" placeholder="Full Name">
	  	</div>
	 
	  	<div class="field">
		    <label>Password</label>
		    <input type="password" name="password" placeholder="Password">
	  	</div>
	  	<button class="ui button" type="submit">Login</button>


	</form>
</div>
<% include partials/footer %>